<template>
  <v-card>
    <v-container>
      <v-row justify="space-between">
        <v-col cols="auto">
          <v-img
            height="200"
            width="200"
            :src="image"
          ></v-img>
        </v-col>

        <v-col
          cols="auto"
          class="text-center pl-0"
        >
          <v-row
            class="flex-column"
            justify="center"
          >
            <v-col class="px-0">
              <span>{{name}}</span>
            </v-col>
          </v-row>

          <v-row
            class="flex-column"
            justify="center"
          >
            <v-col class="px-0">
              <span>$ {{price}}</span>
            </v-col>
          </v-row>

          <v-row
            class="flex-column"
            justify="center"
          >
            <v-col class="px-0">
              <v-btn icon>
                <v-icon>mdi-heart</v-icon>
              </v-btn>
            </v-col>

            <v-col class="px-0">
              <v-btn icon>
                <v-icon>mdi-bookmark</v-icon>
              </v-btn>
            </v-col>

            <v-col class="px-0">
              <v-btn icon>
                <v-icon>mdi-share-variant</v-icon>
              </v-btn>
            </v-col>
          </v-row>

          <v-row
            class="flex-column"
            justify="center"
          >
            <v-col >
              <v-btn @click="addToCart(id)">Add to Cart</v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>


<script>
export default {
  name: 'product',
  props: ['id', 'name', 'image', 'price'],
  methods: {
    addToCart (id) {
      console.log(id)
      this.$store.dispatch('addToCart', id)
    }
  }
}
</script>
