<template>
  <v-card
    flat
    tile
  >
    <v-toolbar flat>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-toolbar-title>Shopping Cart</v-toolbar-title>

    </v-toolbar>
  </v-card>
</template>

<script>
export default {

  name: 'Navbar'

}
</script>

