<template>
    <div align="center">
    <v-dialog
      v-model="dialog"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-row>
        <v-col>
        <v-btn
          v-bind="attrs"
          v-on="on"
        >
          {{cartCount}}
        </v-btn>
        </v-col>
        </v-row>
      </template>

      <v-card >
        <v-card-title>
          My Shopping Cart
        </v-card-title>
      <div v-if="cart.length==0"><h2>No item in your shopping cart.</h2></div>
      <v-container v-for="(item,index)  in  cart" 
      :key="index">
      <v-row justify="space-between">
        <v-col cols="auto">
          <v-img
            height="200"
            width="200"
            :src="item.image"
          ></v-img>
        </v-col>

        <v-col
          cols="auto"
          class="text-center pl-0"
        >
          <v-row
            class="flex-column"
            justify="center"
          >
            <v-col class="px-0">
              <span>{{item.name}}</span>
            </v-col>
          </v-row>

          <v-row
            class="flex-column"
            justify="center"
          >
            <v-col class="px-0">
              <span>$ {{item.price}}</span>
            </v-col>
          </v-row>

          <v-row
            class="flex-column"
            justify="center"
          >
            
          </v-row>

          <v-row
            class="flex-column"
            justify="center"
          >
            <v-col >
              <v-btn @click="removeFromCart()">Remove from Cart</v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green"
            text
            @click="dialog = false"
          >
            Cancel
          </v-btn>

          <v-btn
            color="green"
            text
            @click="dialog = false"
          >
            Proceed to checkout
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "Shopping",
  data () {
      return {
        item:1,
        dialog: false,
      }
  },

  computed: {
    StoreCart() {
      return this.$store.getters.StoreCart;
    },

    cartCount() {
      return this.StoreCart.length;
    },

    cart() {
      return this.$store.getters.StoreCart.map(cartitems => {
        return this.$store.getters.products.find(itemForSale => {
          return cartitems === itemForSale.id;
        });
      });
    }
  },

  methods: {
    removeFromCart(index) {
      this.$store.dispatch("removeFromCart", index);
    },
    showList() {
      this.dialog = true
    }
  }
};
</script>