<template>
  <div id="app" data-app>
    <Navbar />
    <Shopping />
    <Product
      v-for="product  in  products"
      :key="product.id"
      :id="product.id"
      :name="product.name"
      :image="product.image"
      :price="product.price"
    />
  </div>
</template>

<script>
import Navbar from './components/NavBar'
import Product from './views/Product'
import Shopping from './components/ShoppingCart'

export default {
  name: 'app',

  components: {
    Navbar,
    Product,
    Shopping
  },

  computed: {
    products() {
      return this.$store.getters.products;
    }
  },
}
</script>
